# EX-13 Recommendation System for Movielnes - Project

### 2023-01-01 (일)

### 곽상혁
https://github.com/docosa2/

이전 스텝에서 배운 MF 모델 학습 방법을 토대로, 내가 좋아할 만한 영화 추천 시스템을 제작해 보겠습니다.

이번에 활용할 데이터셋은 추천 시스템의 MNIST라고 부를만한 Movielens 데이터입니다.

유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장합니다.
별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해 볼 수 있습니다.
별점을 시청횟수로 해석해서 생각하겠습니다.
또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.
Cloud Storage에 미리 업로드된 ml-1m폴더 내 파일을 심볼릭 링크로 개인 storage에 연결해 줍니다.

Cloud shell에서 아래 명령어를 입력해 주세요.

> $ mkdir -p ~/aiffel/recommendata_iu/data/ml-1m

> $ ln -s ~/data/ml-1m/* ~/aiffel/recommendata_iu/data/ml-1m

프로젝트에 필요한 주요 라이브러리 버전을 확인해봅시다.

In [217]:
import pandas as pd
import numpy as np
import scipy

import implicit

print(np.__version__)
print(scipy.__version__)
print(implicit.__version__)

1.22.4
1.9.3
0.6.2

## 데이타 준비 및 전처리

In [218]:
import os
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [219]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [220]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [221]:
ratings.head()

   user_id  movie_id  counts  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [222]:
ratings.drop(['timestamp'], axis=1, inplace=True)
ratings.head()

   user_id  movie_id  counts
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [223]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

### 소문자로 변경

In [224]:
movies['title'] = movies['title'].str.lower()
movies['genre'] = movies['genre'].str.lower()
movies.head()

   movie_id                               title                         genre
0         1                    toy story (1995)   animation|children's|comedy
1         2                      jumanji (1995)  adventure|children's|fantasy
2         3             grumpier old men (1995)                comedy|romance
3         4            waiting to exhale (1995)                  comedy|drama
4         5  father of the bride part ii (1995)                        comedy

 이전 스텝에 소개했던 것과 동일한 방식으로 MF model을 구성하여 내가 좋아할 만한 영화를 추천해 볼 수 있습니다.

## 분석
---

### ratings에 있는 유니크한 영화 개수

In [225]:
ratings['movie_id'].nunique()

3628

### ratings에 있는 유니크한 사용자 수

In [226]:
ratings['user_id'].nunique()

6039

### 가장 인기 있는 영화 30개(인기순)

#### movies와 ratings를 합치기

In [227]:
movie_ratings = pd.merge(movies, ratings, how = 'right', left_on = 'movie_id', right_on = 'movie_id')

In [228]:
movie_ratings.head()

,movie_id,title,genre,user_id,counts
0,1193,one flew over the cuckoo's nest (1975),drama,1,5
1,661,james and the giant peach (1996),animation|children's|musical,1,3
2,914,my fair lady (1964),musical|romance,1,3
3,3408,erin brockovich (2000),drama,1,4
4,2355,"bug's life, a (1998)",animation|children's|comedy,1,5

#### 가장 인기 있는 영화 30개 목록

In [229]:
favorite_movies = movie_ratings.groupby('title')['counts'].count()
favorite_movies.sort_values(ascending=False).head(50)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
alien (1979)                                             1920
gladiator (2000)                                         1798
total recall (1990)                                      1786
star wars: episode i - the phantom menace (1999)         1783
usual suspects, the (1995)                               1744
stand by me (1986)                                       1728
blade runner (1982)                                      1722
aliens (1986)                                            1720
one flew over the cuckoo's nest (1975)                   1680
wizard of oz, the (1939)                                 1650
godfather: part ii, the (1974)                           1624
casablanca (1942)                                        1623
who framed roger rabbit? (1988)                          1605
bug's life, a (1998)                                     1599
jaws (1975)                                              1598
goodfellas (1990)                                        1595
die hard (1988)                                          1593
hunt for red october, the (1990)                         1587
airplane! (1980)                                         1586
babe (1995)                                              1574
Name: counts, dtype: int64

### 내가 선호하는 영화를 5가지 골라서 ratings에 추가
---

In [230]:
print(movies[movies['title'].str.contains('blade runner')])
print(movies[movies['title'].str.contains('back to the future')])
print(movies[movies['title'].str.contains('aliens')])
print(movies[movies['title'].str.contains('running man')])
print(movies[movies['title'].str.contains('matrix')])

     movie_id                title             genre
537       541  blade runner (1982)  film-noir|sci-fi
      movie_id                               title                  genre
1250      1270           back to the future (1985)          comedy|sci-fi
1942      2011   back to the future part ii (1989)          comedy|sci-fi
1943      2012  back to the future part iii (1990)  comedy|sci-fi|western
      movie_id          title                       genre
1182      1200  aliens (1986)  action|sci-fi|thriller|war
      movie_id                    title                    genre
3629      3698  running man, the (1987)  action|adventure|sci-fi
      movie_id               title                   genre
2502      2571  matrix, the (1999)  action|sci-fi|thriller

In [231]:
my_favorite_movies = [541, 1270, 1200, 3698, 2571]

len(my_favorite_movies)

5

In [232]:
ratings.tail()

         user_id  movie_id  counts
1000203     6040      1090       3
1000205     6040      1094       5
1000206     6040       562       5
1000207     6040      1096       4
1000208     6040      1097       4

In [233]:
df_my_favorite_movies = pd.DataFrame({'user_id': [6041] * len(my_favorite_movies), 'movie_id': my_favorite_movies, 'counts': [5] * len(my_favorite_movies)})

df_my_favorite_movies

   user_id  movie_id  counts
0     6041       541       5
1     6041      1270       5
2     6041      1200       5
3     6041      3698       5
4     6041      2571       5

In [234]:
if not ratings.isin({'user_id': [6041]})['user_id'].any():
    ratings = ratings.append(df_my_favorite_movies)
    
ratings.tail(10)

/var/folders/pc/h8hfx8zn0pb8vvgjpyjwq7cc0000gn/T/ipykernel_10707/2596375117.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ratings = ratings.append(df_my_favorite_movies)

         user_id  movie_id  counts
1000203     6040      1090       3
1000205     6040      1094       5
1000206     6040       562       5
1000207     6040      1096       4
1000208     6040      1097       4
0           6041       541       5
1           6041      1270       5
2           6041      1200       5
3           6041      3698       5
4           6041      2571       5

## CSR matrix 만들기

In [235]:
data = pd.merge(movies, ratings, left_on = 'movie_id',right_on = 'movie_id', how='right')

In [236]:
data

,movie_id,title,genre,user_id,counts
0,1193,one flew over the cuckoo's nest (1975),drama,1,5
1,661,james and the giant peach (1996),animation|children's|musical,1,3
2,914,my fair lady (1964),musical|romance,1,3
3,3408,erin brockovich (2000),drama,1,4
4,2355,"bug's life, a (1998)",animation|children's|comedy,1,5
...,...,...,...,...,...
836478,541,blade runner (1982),film-noir|sci-fi,6041,5
836479,1270,back to the future (1985),comedy|sci-fi,6041,5
836480,1200,aliens (1986),action|sci-fi|thriller|war,6041,5
836481,3698,"running man, the (1987)",action|adventure|sci-fi,6041,5
836482,2571,"matrix, the (1999)",action|sci-fi|thriller,6041,5

In [237]:
my_favorite_movie_titles = list(data.loc[data['movie_id'].isin(my_favorite_movies)].title.unique())
my_favorite_movie_titles

['back to the future (1985)',
 'matrix, the (1999)',
 'aliens (1986)',
 'blade runner (1982)',
 'running man, the (1987)']

In [238]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
movie_unique = data['title'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [239]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx[6041])    # 6040명의 유저 중 마지막으로 추가된 유저이니 6039이 나와야 합니다. 
print(movie_to_idx['running man, the (1987)'])

6039
985

In [240]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
temp_user_data

0            0
1            0
2            0
3            0
4            0
          ...
836478    6039
836479    6039
836480    6039
836481    6039
836482    6039
Name: user_id, Length: 836483, dtype: int64

In [241]:
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

user_id column indexing OK!!

In [242]:
# movie_to_idx을 통해 movie_id 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = data['title'].map(movie_to_idx.get).dropna()

if len(temp_movie_data) == len(data):
    print('movie column indexing OK!!')
    data['movie_id'] = temp_movie_data
else:
    print('movie column indexing Fail!!')

movie column indexing OK!!

In [243]:
data

,movie_id,title,genre,user_id,counts
0,0,one flew over the cuckoo's nest (1975),drama,0,5
1,1,james and the giant peach (1996),animation|children's|musical,0,3
2,2,my fair lady (1964),musical|romance,0,3
3,3,erin brockovich (2000),drama,0,4
4,4,"bug's life, a (1998)",animation|children's|comedy,0,5
...,...,...,...,...,...
836478,680,blade runner (1982),film-noir|sci-fi,6039,5
836479,22,back to the future (1985),comedy|sci-fi,6039,5
836480,651,aliens (1986),action|sci-fi|thriller|war,6039,5
836481,985,"running man, the (1987)",action|adventure|sci-fi,6039,5
836482,124,"matrix, the (1999)",action|sci-fi|thriller,6039,5

In [244]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_movie = data['title'].nunique()

csr_data = csr_matrix((data.counts, (data.user_id, data.movie_id)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## MF Model 학습

In [245]:
import implicit
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

version = implicit.__version__ # 버전에 주의!  0.48과 0.62는 사용법이 서로 상이함
print(version)

0.6.2

In [246]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [247]:
# implicit version 0.48 : als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.) 
# implicit version 0.62 : csr_data를 직접 입력받도록 변경되었음
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [248]:
# 모델 훈련
if version == '0.6.2' :
    print('implicit module : 0.6.2')
    als_model.fit(csr_data)
elif version == '0.4.8':
    print('implicit module : 0.4.8')
    als_model.fit(csr_data_transpose)

implicit module : 0.6.2

  0%|          | 0/15 [00:00<?, ?it/s]

## 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악

In [249]:
user_1, mib = user_to_idx[6041], movie_to_idx['men in black (1997)']
user_1_vector, mib_vector = als_model.user_factors[user_1], als_model.item_factors[mib]

print(user_1)
print(mib)

6039
175

In [250]:
user_1_vector

array([-0.24272819,  0.2678972 , -0.67152846,  0.6379564 , -0.10139149,
       -0.15220182,  0.66213053, -0.24579698,  0.55461454,  0.0313894 ,
        0.04037424, -0.5893872 , -0.44556516,  0.89194417, -0.0691554 ,
        0.17813434, -0.4210101 ,  0.3092872 ,  0.16032001, -0.22913432,
       -0.04208297, -0.63305175, -0.7491306 ,  0.62247664,  0.65999335,
       -0.04106745,  0.53455144,  0.0752839 , -0.45423102, -1.1214082 ,
       -0.03648742, -0.6256928 , -0.08097979,  0.3253092 ,  0.21925266,
        0.6110796 , -0.2538933 ,  0.6320082 ,  0.59817594, -0.07039949,
        0.35413596, -0.40359035,  0.053898  , -0.5868632 ,  0.2740361 ,
       -0.9476298 ,  0.5622569 ,  0.6675776 ,  0.5745629 , -0.37324017,
        0.56483227, -0.26554254,  1.0071396 ,  0.2810478 , -0.90814215,
        1.3366848 ,  0.46499994, -0.288664  , -0.06144062, -0.10953926,
        0.44601047,  0.20944689, -0.02716495, -0.45636097, -0.0822462 ,
       -0.7921377 , -0.5211911 ,  1.336644  , -0.6626818 , -0.24727866,
       -0.36207893, -0.30289933,  0.39331618,  0.8144306 , -0.7624874 ,
        0.27771693, -0.54379845,  0.43769118,  0.2386716 ,  0.545419  ,
        0.31775475,  0.12168807, -0.36181626, -0.5884329 ,  0.43674323,
        0.3429156 , -0.10688025, -0.09612221,  0.47299677, -0.95428747,
       -0.53579473,  0.57708776, -0.6471709 ,  0.26579583, -0.70434755,
       -0.37930077,  0.32727864,  0.05723716,  0.84151816,  0.07930691],
      dtype=float32)

In [251]:
mib_vector

array([-0.01182253,  0.00336378,  0.00862886, -0.04859133,  0.01653999,
        0.00188662,  0.03283184,  0.01612521,  0.04472871,  0.00429972,
        0.00330285, -0.0136936 , -0.02072405,  0.01172998, -0.02409199,
        0.00866355,  0.00140501, -0.01685141,  0.02604741,  0.02295029,
        0.00022973,  0.01103008,  0.01247756,  0.00132837,  0.0340559 ,
        0.00892794, -0.00714348,  0.03201405, -0.01163509,  0.01952265,
        0.01039656,  0.02770732, -0.00176342,  0.01046257,  0.0050167 ,
       -0.00356568, -0.0049843 ,  0.00145367,  0.03407036, -0.01373182,
        0.01087475,  0.0515018 ,  0.04453282,  0.01041367,  0.00470284,
       -0.00298456,  0.01129279, -0.00052237, -0.027535  , -0.030617  ,
        0.00638949,  0.0307525 ,  0.02652   ,  0.04188445,  0.0153476 ,
        0.01343102,  0.00768505, -0.00917479,  0.02469661, -0.00815723,
       -0.00464969,  0.00607066, -0.01012145,  0.03272023, -0.00743198,
        0.02839151,  0.01164941,  0.03917415,  0.01682307,  0.01414403,
        0.00519953,  0.00993445, -0.0016408 ,  0.02209757,  0.00765956,
        0.01948227,  0.00934513, -0.0142215 ,  0.00209585,  0.01160556,
        0.00543109,  0.01564997,  0.00624299, -0.00285518,  0.03026056,
        0.008793  , -0.01039312, -0.01982574, -0.02005974, -0.02595269,
        0.01838988, -0.01605646, -0.01759499, -0.00649645, -0.00938202,
        0.01407995,  0.00730237, -0.00740193, -0.00186005,  0.00379266],
      dtype=float32)

In [252]:
np.dot(user_1_vector, mib_vector)

0.089381926

예측 결과는 실망스러울 정도...

## 내가 좋아하는 영화와 비슷한 영화를 추천

In [254]:
favorite_movie = 'men in black (1997)'
movie_idx = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_idx, N=15)

if version == '0.6.2':
    similar_movie = [(i, value) for i, value in zip(similar_movie[0], similar_movie[1])]
elif version == '0.4.8':
    pass

similar_movie

[(175, 1.0000001),
 (107, 0.84555274),
 (92, 0.6431221),
 (62, 0.6127335),
 (150, 0.5180641),
 (124, 0.49773967),
 (145, 0.4684587),
 (375, 0.46060836),
 (82, 0.45447564),
 (670, 0.4288171),
 (3466, 0.4286213),
 (542, 0.42356634),
 (87, 0.40479285),
 (138, 0.39524865),
 (1045, 0.3916715)]

In [256]:
idx_to_movie = {v:k for k,v in movie_to_idx.items()}

[idx_to_movie[i[0]] for i in similar_movie]

['men in black (1997)',
 'jurassic park (1993)',
 'terminator 2: judgment day (1991)',
 'total recall (1990)',
 'independence day (id4) (1996)',
 'matrix, the (1999)',
 'fifth element, the (1997)',
 'face/off (1997)',
 'lost world: jurassic park, the (1997)',
 'galaxy quest (1999)',
 'schlafes bruder (brother of sleep) (1995)',
 'rocky horror picture show, the (1975)',
 'braveheart (1995)',
 'true lies (1994)',
 'grumpy old men (1993)']

## 내가 가장 좋아할 만한 영화들을 추천받기

In [260]:
if version == '0.6.2':
    movie_recommended = als_model.recommend(user_1, csr_data[user_1], N=20, filter_already_liked_items=True)
    movie_recommended = [(i, value) for i, value in zip(movie_recommended[0], movie_recommended[1])]
elif version == '0.4.8':
    movie_recommended = als_model.recommend(user_1, csr_data, N=20, filter_already_liked_items=True)

movie_recommended

[(200, 0.5602606),
 (193, 0.5176505),
 (92, 0.44140413),
 (117, 0.4169935),
 (882, 0.39608854),
 (44, 0.37851185),
 (64, 0.35558477),
 (602, 0.32023054),
 (195, 0.31778708),
 (26, 0.30794942),
 (865, 0.2887274),
 (317, 0.2840546),
 (1097, 0.28099465),
 (637, 0.27437896),
 (62, 0.26380217),
 (91, 0.25786906),
 (904, 0.23782845),
 (550, 0.23725958),
 (674, 0.23669922),
 (695, 0.22170834)]

In [261]:
[idx_to_movie[i[0]] for i in movie_recommended]

['terminator, the (1984)',
 'alien (1979)',
 'terminator 2: judgment day (1991)',
 'star wars: episode v - the empire strikes back (1980)',
 'mad max 2 (a.k.a. the road warrior) (1981)',
 'star wars: episode iv - a new hope (1977)',
 'star wars: episode vi - return of the jedi (1983)',
 '2001: a space odyssey (1968)',
 'mad max (1979)',
 'e.t. the extra-terrestrial (1982)',
 'predator (1987)',
 'twelve monkeys (1995)',
 'brazil (1985)',
 'abyss, the (1989)',
 'total recall (1990)',
 'close encounters of the third kind (1977)',
 'clockwork orange, a (1971)',
 'dr. strangelove or: how i learned to stop worrying and love the bomb (1963)',
 'back to the future part ii (1989)',
 'time bandits (1981)']

## 고찰
1. LMS에서 잘 작동되던 코드가 로컬로 옮겨오면 계속해서 에러가 발생하여 살펴보니 implicit 패키지의 버전이 0.4.8에서 0.6.2로 업그레이드 되면서 사용법이 일부 변경되었다. 패키지를 불러올 때 버전이 일치하는지 항상 주의가 필요하다. (LMS에서 진행했다면 훨씬 간단했을 일이 상당히 많은 시간을 필요로 했다. 중요한 작업을 실시할 때면 미리 버전 관리에 주의하고 시작하는 편이 좋다.)
2. 등록되어 있는 선호 영화와 실제 좋아하는 영화와의 내적 값이 생각보다 훨씬 낮게 나왔다. 반면 내가 좋아할만한 영화는 괜찮은 편이었다. 실제 서비스라면 충분한 사용자 경험 조사 등이 선행되어야 할 것 같다.
3. 이 시스템을 응용하여 선호하는 논문이나 관심 가질만한 논문 추천 등에 활용할 수 있을 것 같다는 생각이 잠깐 들었다.
4. 추천해 준 영화들 중 보지 못한 것들을 실제로 좀 봐야겠다.(맥주 + 캬라멜 팝콘은 필수. 이건 공부와 무관...)